name: CI for Unit tests
on: 
    push:
        branches:
        - master
    pull_request:
        branches:
        - master
jobs:
    unit-tests:
        timeout-minutes: 10
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-node@v3
          with:
              node-version: '18'
        - name: Install dependencies
          run: npm install
        - name: Run unit tests
          run: npm run test:coverage
        - name: Uploading artifacts
          uses: actions/upload-artifact@v3
          with:
            name: test-results
            path: coverage/
            retention-days: 30

        